// 引入页头样式
@import url("header.less");

//模板自己的样式定义 
.yourPlace{
    font-size: 18px;
    color: #337ab7;
    font-weight: bold;
    margin: 22px 0px 0px 15px;
    display: inline-block;
}

.navbar-default .navbar-brand{
    margin-bottom: 15px;
}

.reglogin{
    margin-top: 10px;

    form{
        width: 40%;
        margin: 20px auto;
    }
}

// 引入页脚
@import url("footer.less");